<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <h1><b><marquee  scrolldelay="0">Sekolah Pendidikan Khusus (SPK) Serasi Kota Payakumbuh</marquee></b></h1>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <img class="d-block" src="/theme/images/j.jpeg" width="975px" height="600px">  

        </div>

      </div>

    </div>
  </body>
</html>
