<h1>This Is Dashboard</h1>
<!-- <div class="main">
  <h1 style=text-align:center>SPK Serasi Kota Payakumbuh</h1>
  <div class="jumbotron" style=margin:0px>
    <div class="container">
      <div class="row">
        <div class="col">
          <!-- <h2 style="font-family:verdana; font-size:20px">Gedung Sekolah</h2> -->
        <!-- </div>
      <div class="row">
        <div class="col-md-4">
            <img src="/theme/images/j.jpeg" class="img-thumbnail" alt="#">
        </div>
        <div class="col-md-4">
            <img src="/theme/images/g.jpeg" class="img-thumbnail" alt="#">
        </div>
        <div class="col-md-4">
            <img src="/theme/images/i.jpeg" class="img-thumbnail" alt="#">
        </div>
      </div>


      </div>
      <br>
      <div class="row">
        <div class="col">
          <!-- <h2 style="font-family:verdana; font-size:20px">Gedung Sekolah</h2> -->
        <!-- </div>
      <div class="row">
        <div class="col-md-4">
            <img src="/theme/images/j.jpeg" class="img-thumbnail" alt="#">
        </div>
        <div class="col-md-4">
            <img src="/theme/images/g.jpeg" class="img-thumbnail" alt="#">
        </div>
        <div class="col-md-4">
            <img src="/theme/images/i.jpeg" class="img-thumbnail" alt="#">
        </div>
      </div>


      </div>

    </div>

  </div>

</div> -->
