<!DOCTYPE html>
<html>
  <head>
    <style media="screen">
      td {
        font-size: 15px;
      }
    </style>
  </head>
  <body>

  </body>
</html>


<div class="main">
  <h2 style=text-align:center>Struktur Organisasi SPK Serasi Kota Payakumbuh</h2>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col">
          <table class="table table-striped">
            <tr>
              <td>Kepala Sekolah</td>
              <td>aaaaaaaaaaaaaaaaaa</td>
            </tr>
            <tr>
              <td>Wakil Kepala Sekolah</td>
              <td>a</td>
            </tr>
            <tr>
              <td>Sekretaris</td>
              <td>a</td>
            </tr>
            <tr>
              <td>Bendahara</td>
              <td>a</td>
            </tr>
          </table>

        </div>

      </div>
    </div>

  </div>

</div>
