<div class="main">
  <div class="container" style="text-align:center">
    <h2><b>Tata Tertib Guru SPK Serasi Kota Payakumbuh</b></h2>
    <div class="jumbotron">
      <div class="row">
        <div class="col">
          <h3><b>Kehadiran</b></h3>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <h5>Dari hari Senin sampai dengan Sabtu (kecuali Jum'at), guru harus datang paling lambat pukul 06.30 WIB</h5><br>
          <h5>Khusus hari Jum'at, guru harus datang paling lambat pukul 06.15 WIB</h5><br>
          <h5>Guru diperkenankan pulang paling cepat 15 menit setelah bel berbunyi</h5><br>
          <h5>Guru dilarang keluar dari lingkungan sekolah untuk alasan apapun tanpa seizin dari kepala sekolah</h5><br>
          <h5>Guru yang tidak hadir karena sakit atau keperluan penting lainnya, wajib memberitahukan secara tertulis minimal sehari sebelumnya</h5><br>
          <h5>Apabila guru sakit lebih dari 3 hari, maka harus memberikan surat keterangan dari dokter</h5>

        </div>

      </div>
      <br>
      <br>
      <div class="row">
        <div class="col">
          <h3><b>Kegiatan Belajar Mengajar (KBM)</b></h3>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <h5>Guru dilarang meninggalkan kelas selama kbm, kecuali ada alasan yang dapat dipertanggung jawabkan</h5><br>
          <h5>Guru dilarang menerima tamu di dalam kelas, kecuali ada alasan yang dapat dipertanggung jawabkan</h5><br>
          <h5>Guru dilarang tidur di lingkungan sekolah selama kbm dan jam kerja, kecuali ada alasan yang bisa dipertanggung jawabkan</h5><br>
          <h5>Guru dilarang membawa dan mengaktifkan ponsel selama kbm, kecuali ada alasan yang bisa dipertanggung jawabkan</h5><br>
          <h5>Guru dilarang menggunakan komputer atau internet selama kbm, kecuali ada alasan yang bisa dipertanggung jawabkan</h5><br>
          <h5>Guru dilarang menghentikan kbm atau memulangkansiswa sebelum waktu yang telah ditentukan, kecuali ada alasan yang bisa dipertanggung jawabkan</h5>

        </div>

      </div>

    </div>

  </div>

</div>
